{% extends 'base.html.twig' %}

{% block inner_cover %}

  <h1 class="cover-heading">FLISoL 2016</h1>
  <p class="lead">
    El Festival Latinoamericano de Instalación de Software Libre (FLISoL), es el mayor evento de difusión del Software libre que se realiza desde el año 2005 en diferentes países de manera simultánea.<br>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-default">Registrate</a>
  </p>

{% endblock %}
