{% extends "base.html.twig" %}

{% block inner_cover %}
<div class="row">
  <form action="" method="post" class="form-horizontal">
    {{ form_widget(form) }}
    <input type="submit" name="submit" class="btn btn-primary"/>
  </form>
</div>
{% endblock %}
